@charset "utf-8";
/* CSS Document */
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0px;
	padding:0px;}
/*樣式*/
body{
	background:#fff;}

#share{
	text-align:center;
	position:absolute;
	top:230px;
	width:960px;}
#all-wrap{
	position:relative;
	text-align:center;
	width:960px;
	margin:0 auto;}
.txt{
	height:1px;overflow:hidden;line-height:3em;}