@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ol,ul{
	margin:0px;
	padding:0px;
	font-size:16px;
	line-height:1em;
	font-family:微軟正黑體,Verdana, Geneva;
	list-style:none;
	}
#login_box{
	width:350px;
	border:3px solid #ECECEC;
	margin:10px  auto;
	border-radius:15px;
	padding:25px 25px 10px 25px;}
#login_box h1{
	font-size: 26px;
	text-align:center;
	margin:0 0 25px 0;
}
#login_box p{
	margin:0 0 13px 30px;}
#login_box input{
	border:2px solid #CCC;
	border-radius:5px;
	width:210px;
	height:25px;}
.qrcod_input{
	margin:0 0 0 67px;}
.login_btn{
	padding:15px 0 0 0;}
#login_box .login_btn input{
	width:70px;
	height:40px;
	cursor:pointer;
	font-size:16px;
	display:block;
	margin:0 auto;
	}
#admin_block{
	padding:20px;}
#funcion-bar{
	text-align:center;}
#funcion-bar li{
	display:inline-block;
	margin:0 5px;}
#funcion-bar li a{
	display:block;
	text-decoration:none;
	background:#ECECEC;
	padding:15px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;}
#funcion-bar li a.current{
	background:#CCC;
	color:#fff;}
#function-content{
	min-height:10em;
	border:3px solid #CCC;
	border-radius:10px;}
.table-show,.table-edit{
	border-collapse:collapse;
	}
.center{
	text-align:center;}
.table-show td,.table-show th,.table-edit td,.table-edit th{
	padding:5px;
	vertical-align:top;
	line-height:1.4em;}
.table-show th{
	border-bottom:3px solid #CCC;}
.table-show td{
	border-bottom:1px solid #CCC;}
.table-show td p{
	margin:0 0 7px 0;
	line-height:1.4em;}
.even td{
	background:#F5F5F5;}
.table-edit td,.table-edit th{
	border:1px solid #CCC;}
.table-edit th{
	background:#F5F5F5;}
.long-input{
	width:90%;}
textarea.long-input{
	height:25em;}
.table-btn{
	text-align:center;
	padding:10px;}
.table-btn input{
	border:2px solid #CCC;
	border-radius:5px;
	cursor:pointer;
	font-size:16px;
	padding:10px;}
.table-btn .btn-here{
	background:#639;
	border:2px solid #639;
	color:#fff;}