@charset "utf-8";
/* CSS Document */
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0px;
	padding:0px;}
/*樣式*/
body{
	background:#d3d9e4;}
#all-wrap{
	width:100%;
	max-width:960px;
	margin:0 auto;
	position:relative;}
#top-banner{
	background:url(../images/top-banner.jpg);
	background-size:100%;
    height:327px;
	overflow:hidden;
	text-indent:-500px;
	margin:0 0 15px 0;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;}
.content-s-block{
	background:#fff;
	border-radius:20px;
	padding:20px;
	margin:0 0 25px 0;}
.content-s-block h3{
	font-size:23px;
	background-color:#282b30;
	background-repeat:no-repeat;
	border-radius:20px;
	color:#fff;
	padding:12px 20px;
	letter-spacing:1px;
	background-image:url(../images/heart.png);
	background-repeat:no-repeat;
		background-position:right -20px;
			margin:0 0px 15px 0;
	}
.c-title{
	position:relative;
	}
.qicon{
	width:133px;
	height:160px;
	background:url(../images/qicon.png);
	position:absolute;
	left:15px;
	top:-30px;}
.txt-block{
	font-size:18px;
	line-height:1.5em;
	letter-spacing:1px;
	padding: 0 20px;
	}
.txt-block p{
	margin:0 0 12px 0;}
.txt-block h4{
	font-size:22px;
	color:#166a67;
	margin:0 0 8px 0;}
.txt-block ul,.txt-block ol{
	padding:0 20px;
	margin:0px;}
.txt-block ul{
	list-style-type:none;}
.txt-block ul li{
	background:url(../images/li.png) no-repeat left 9px;
	padding:0 0 0 28px;}
.txt-block ul li li{
	background:url(../images/li2.png) no-repeat left 9px;
	padding:0 0 0 28px;}
.txt-block li{
	margin:0 0 12px 0;}
.txt-block li li{
	margin:0 0 5px 0;}
strong{
	color:#98005d;}
.ccnote{
	font-size:13px;
	text-align:center;
	padding:15px;
	color:#fff;
		background-color:#282b30;
		border-top-right-radius:20px;
		border-top-left-radius:20px;}
.ccnote a{
	color:#fff;}
#share{
	position:absolute;
	right:265px;
	top:275px;}
#share img{
	float:left;
	margin:0 3px 0 0;}
.qsort{
	background:#98005d;
	border-radius:8px;
	padding:8px;
	position:absolute;
	top:-50px;
	left:30px;
	font-weight:bold;
	color:#fff;
	font-size:15px;
	}
.qsort div{
	background:#98005d;
	width:10px;
	height:10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position:absolute;
	left:35px;
	bottom:-5px;}
#qa-block .content-s-block{
	margin-top:50px;}
h2{
	font-size:28px;}
#vs-table h2,.group-block h2{
	margin:0 0 15px 0;}
#vs-table table{
	border-collapse:collapse;
	}
#vs-table td{
	border:2px solid #CCC;
	padding:4px;}
#vs-table td.title{
		background:#d697e2;}
#vs-table td.title2{
		background:#efc5f7;}	
.more-block{
	position:relative;
	overflow:hidden;}	
.qrcode{
	float:right;
	text-align:center;
	font-size:13px;
	}
.qrcode img{
	display:block;}
#inner-tag{
	list-style-type:none;
	position:absolute;
	right:140px;
	top:225px;}
#inner-tag li{
	float:left;
	margin:0 10px 0 0;
	background:#000;
	border-radius:10px;
	}
#inner-tag li a{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:10px;}
#wait{
	text-align:center;
	padding:30px 0 100px 0;
	}
#wait h2{
	font-size:80px;}
#top-banner.index-block{
	border-radius:20px;
	margin-top:80px;}
img{
	display:block;
	margin:auto;
	max-width:100%;}
.inline-img{
	display:inline;
	vertical-align:middle;
	}
#inner-tag #statement{
	float:none;
	position:absolute;
	right:142px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	bottom:-62px;
	font-size:13px;
	}
#inner-tag #statement a{
	padding:5px 10px;}
.ssnote{
	font-size:12px;
	padding:10px 0 0 0;}
.ssnote p{
	margin:0px;
	font-weight:bold;}
.txt-block .ssnote ul{
	padding:0px;}
.txt-block .ssnote li{
	margin:0 0 4px 0;
	line-height:1.4em;
	background-position: left 2px;
	padding-left:18px;
	}
blockquote{
	background:#ececec;
	padding:20px;
	}