@charset "utf-8";
/* CSS Document */
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0px;
	padding:0px;}
/*樣式*/
body{
	background:#000;}
#all-wrap{
	width:100%;
	max-width:960px;
	margin:0 auto;
	position:relative;}
#top-banner{
	background:url(../images/title-bg.jpg) right top no-repeat ;
	height:430px;
	overflow:hidden;
	margin:0 0 15px 0;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	text-align:center;
	text-indent:-2000px;}

.content-s-block{
	border-radius:20px;
	padding:20px;
	margin:0 0 15px 0;
	background:#fff;}
.content-n-block{
	border-radius:20px;
	padding:20px;
	margin:0 0 15px 0;
	background:#E6E6E6;
	color:#4d4d4d;
	position:relative;}
.content-s-block em{
	font-size:11px;
	font-style:normal;
	vertical-align:super;}
.content-s-block h3{
	margin:0 0 14px 0;
	font-size:24px;color:#fff;
	background:#000;
	padding:15px 20px;
	letter-spacing:1px;
	border-radius:20px;
	font-size:32px;}
.content-s-block h4{
	font-size:24px;
	margin:0 0 17px 0;}
.txt-block{
	font-size:18px;
	line-height:1.5em;
	letter-spacing:1px;
	padding: 0 20px;
	overflow:hidden;
	}
.txt-block p{
	margin:0 0 28px 0;}
.txt-block li{
	margin:0 0 10px 0;}
.txt-block ul,.txt-block ol{
	padding:0 20px;
	margin:0 0 28px 30px;}
strong{
	color:#CC0000;}
.bnote{
	color:#2873c8;}
.tright{
	text-align:right;}
.name{
	font-size:24px;
	font-weight:bold;}
.txt-block p.tright{
	margin:0 0 3px 0;}
#share{
	text-align:center;
	position:absolute;
	right:40px;
	top:170px;}

.txt-block img{
	max-width:100%;
	display:block;
	margin:0 auto;}
.txt-block .img-right{
	float:right;
	margin:0px;}
.ccnote{
	font-size:13px;
	text-align:center;
	padding:15px;
		background-color:#afafaf;
		border-top-right-radius:20px;
		border-top-left-radius:20px;}

.rnote{
	color:#C00;
	font-weight:bold;}
.problem{
	padding:15px 55px 1px 55px;
	background:#e9e9e9;
	margin:-20px 0 55px 0;}